@font-face {
  font-family: "Abramo Regular";
  src: url("/fonts/Abramo%20Regular.woff2") format("woff2");
  /* font-family: "Abramo Regular", serif; */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Abramo Script";
  src: url("/fonts/Abramo%20Script.woff2") format("woff2");
  /* font-family: "Abramo Script", cursive; */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
