@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");

.contact {
  display: flex;
  flex-direction: column;
  z-index: 2;
  overflow: hidden;
  padding-bottom: 100px;
}

/* Title */
.contact>h2 {
  text-align: center;
  font-size: clamp(40px, 16vw, 142px);
  color: #4f5b55;
  font-family: "Abramo Regular", serif;
}

.contact>p {
  text-align: center;
  margin: 10px;
  font-size: clamp(12px, 4vw, 35px);
  color: #4f5b55;
  font-family: "Forum";
}

/* Background pattern */
.envelop_container {
  position: relative;
  width: 100%;
  z-index: -1;
}

.pattern {
  position: absolute;
  width: max-content;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(7deg);
}

.pattern>div {
  color: #e4dcce;
  display: flex;
  gap: 200px;
  font-size: 120px;
  font-family: "Abramo Script", cursive;
}