.gallery {
  background-color: var(--green);
  color: var(--beige);
  overflow: hidden;
  padding: 60px 0;
  height: 90vh;
  position: relative;
}

.photos {
  width: fit-content;
  display: flex;
  margin-left: -105px;
  padding: 60px 0;
}

.photos>img {
  width: 325px;
  height: auto;
  margin-right: -60px;
}

.photos>img:nth-child(1) {
  position: relative;
  transform: rotate(-15deg);
  z-index: 2;
}

.photos>img:nth-child(2) {
  position: relative;
  transform: rotate(15deg);
  z-index: 1;
  bottom: -58px;
}

.photos>img:nth-child(3) {
  position: relative;
  transform: rotate(-10deg);
  z-index: 2;
  bottom: -5px;
}

.photos>img:nth-child(4) {
  position: relative;
  z-index: 3;
  bottom: -55px;
}

.photos>img:nth-child(5) {
  position: relative;
  transform: rotate(10deg);
  z-index: 4;
  bottom: 10px;
}

.photos>img:nth-child(6) {
  position: relative;
  transform: rotate(2deg);
  z-index: 5;
  bottom: -70px;
}

.photos>img:nth-child(7) {
  position: relative;
  transform: rotate(15deg);
  z-index: 6;
  bottom: 50px;
}

/* .open {
  display: none;
} */

@media (max-width: 1024px) {
  .photos {
    position: static;
    flex-direction: column;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin: auto; */
  }

  .photos>img {
    position: relative;
    /* transform: rotate(0deg) !important; */
    bottom: 0 !important;
    margin-bottom: -50px;
    width: 100%;
  }

  .open {
    display: static;
    position: absolute;
    bottom: 0;
    z-index: 10;
    background-color: blue;
    width: 100%;
    box-shadow: 0px -100px -100px black;
  }
}