.dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 80px 0;
  justify-content: center;
  overflow: hidden;
}

.dates > h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Abramo Regular", serif;
  /* font-weight: 100; */
  font-size: 110px;
  color: #4f5b55;
}

.week {
  display: flex;
  border: 1px solid #4f5b55;
  width: max-content;
}

.day {
  display: flex;
  flex-direction: column;
  color: #4f5b55;
  border-right: 1px solid #4f5b55;
  width: 450px;
  height: 500px;
}

.day:last-child {
  border-right: none;
}

.day > .name {
  text-transform: uppercase;
  font-size: 65px;
  text-align: center;
  font-family: "Abramo Regular", serif;
  font-weight: 1000;
  border-bottom: 1px solid #4f5b55;
  padding: 10px 0;
}

.day > .num {
  font-size: 150px;
  padding: 10px 30px;
  font-family: "Abramo Regular", serif;
  font-weight: 1000;
}

#special_day {
  position: relative;
}

#special_day > .sign {
  position: absolute;
  top: -30px;
  left: -65px;
  z-index: -1;
}

#special_day > .sign > img {
  width: 580px;
  height: auto;
  filter: brightness(1.3);
}
